* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f85606;
    padding: 10px;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

header input {
    width: 40%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.offers {
    text-align: center;
    padding: 60px;
    background: #ffe1d6;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    width: 150px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}

